.login-page {
    padding: 30px 0px 30px 0px;
    background: #F7F7F7;

    .login-content {
        padding: 20px;
        background: #fff;

        .banner {
            width: 100%;
            height: auto;
        }

        .login-form {
            width: 100%;
            height: 100%;
            padding: 100px 136px 100px 136px;

            h4 {
                text-align: center;
            }

            h6 {
                span {
                    color: red;
                }
            }

            .notie {
                color: red;
            }

            .login-google-group {
                width: 100%;
                margin-top: 30px;
                text-align: center;

                .btn-login-google {
                    width: 100%;
                    height: 38px;
                    line-height: 34px;
                    align-items: center;
                    margin-bottom: 30px;
                    border: none;
                    background-color: #E14B33;
                    color: #fff;

                    i {
                        margin-right: 5px;
                    }
                }
                .btn-login-facebook {
                    width: 100%;
                    height: 38px;
                    line-height: 34px;
                    align-items: center;
                    margin-bottom: 30px;
                    border: none;
                    background-color: #3B5998;
                    color: #fff;

                    i {
                        margin-right: 5px;
                    }
                }
            }

            input {
                width: 100%;
                height: 38px;
                padding: 0px 20px 0px 20px;
                line-height: 34px;
                border: 1px solid #E1E1E1;
                outline: none;
            }

            .btn-login {
                width: 100%;
                height: 50px;
                background-color: #E14B33;
                color: #fff;
                border: none;
                border-radius: 25px;
            }
        }
    }
}